@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Bienvenido a un ejemplo de pagina web para registrar citas medicas, con una base de datos en sql server desarollada en ASP.NET Core en base a un CRUD utilizando MVC</a>.</p>
   <img src="https://media.istockphoto.com/vectors/equip-doctors-office-with-desk-and-medicine-cabinet-vector-id1192733248?k=20&m=1192733248&s=612x612&w=0&h=BnqUg54k-bYHQbb0gIUkkHlMzOJPkZ1ALHKYNfV4sfA="
        
        width="700"
     height="500">
</div>
