@{
    ViewData["Title"] = "Aviso de Privacidad";
}
<h1 class="text-center">@ViewData["Title"] </h1>

<p class="text-center">
    De acuerdo a lo Previsto en la “Ley Federal de Protección de Datos Personales”, declara Consultorio Fervel Integral S.C.,
    ser una empresa legalmente constituida de conformidad con las leyes mexicanas, con domicilio en Avenida Fuente de
    Trevi Número 28, Colonia Lomas de Tecamachalco, C.P. 53950, Naucalpan de Juárez en México, Estado de México.; y
    como responsable del tratamiento de sus datos personales, hace de su conocimiento que la información de nuestros
    clientes es tratada de forma estrictamente confidencial por lo que al proporcionar sus datos personales.
</p>
